<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>controladorFormula</servlet-name>
        <servlet-class>Controlador.controllerFormula</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controladorMedicamento</servlet-name>
        <servlet-class>Controlador.controllerMedicamento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controllerFormula</servlet-name>
        <servlet-class>Controlador.controllerFormula</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controllerMedicamento</servlet-name>
        <servlet-class>Controlador.controllerMedicamento</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>controladorFormula</servlet-name>
        <url-pattern>/controladorFormula</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controladorMedicamento</servlet-name>
        <url-pattern>/controladorMedicamento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controllerFormula</servlet-name>
        <url-pattern>/Formula.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controllerMedicamento</servlet-name>
        <url-pattern>/controllerMedicamento</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
